*,body,html{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.title {
    margin-top: 2pc;
    text-align: center;
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 8px solid black;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn { 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}   

.text {
    display: block;
    height: 25px;
    width: 50pc;
    margin: auto;
    text-align: center;
    font-size: x-large;
}